In [1]:
import pandas as pd
import os
from PIL import Image

In [2]:
df = pd.read_csv('list_attr_celeba.csv')
df = df[['image_id', 'Male']]
df.head()

     image_id  Male
0  000001.jpg    -1
1  000002.jpg    -1
2  000003.jpg     1
3  000004.jpg    -1
4  000005.jpg    -1

In [3]:
directory = './img_align_celeba'
imgs = os.listdir(directory)

In [4]:
men_folder = './men'

In [5]:
men_list = df[df['Male']==1]['image_id'].values

In [6]:
for men in imgs:
    if men in men_list:
        with Image.open(os.path.join(directory, men)) as img:
            img.save(os.path.join(men_folder, men))

In [7]:
import random
import shutil

In [8]:
men_list = os.listdir(men_folder)
num = 20000

men_random = random.sample(men_list, num)

In [9]:
men_random_path = './men_random'
for man_random in men_random:
    old_file_path = os.path.join(men_folder, man_random)
    new_file_path = os.path.join(men_random_path, man_random)
    shutil.copy2(old_file_path, new_file_path)